[submodule "frontend-interview"]
	path = interview
	url = git@github.com:wxz6289/frontend-interview.git
[submodule "html-css"]
	path = html-css
	url = git@github.com:wxz6289/html-css.git
[submodule "js"]
	path = js
	url = git@github.com:wxz6289/js.git
[submodule "typescript"]
	path = typescript
	url = git@github.com:wxz6289/TypeScript.git
[submodule "react"]
	path = react
	url = git@github.com:wxz6289/react.git
[submodule "vue"]
	path = vue
	url = git@github.com:wxz6289/vue.git
[submodule "next"]
	path = next
	url = git@github.com:wxz6289/next.git
[submodule "nuxt"]
	path = nuxt
	url = git@github.com:wxz6289/nuxtjs.git
[submodule "vite"]
	path = vite
	url = git@github.com:wxz6289/vite.git
[submodule "electron"]
	path = electron
	url = git@github.com:wxz6289/electron.git
[submodule "tauri"]
	path = tauri
	url = git@github.com:wxz6289/tauri.git
[submodule "rxjs"]
	path = rxjs
	url = git@github.com:wxz6289/rxjs.git
[submodule "flutter"]
	path = flutter
	url = git@github.com:wxz6289/flutter.git
[submodule "qiankun"]
	path = qiankun
	url = git@github.com:wxz6289/qiankun.git
[submodule "coding-spec"]
	path = coding-spec
	url = git@github.com:DreamerKing/coding-spec.git
[submodule "da"]
	path = da
	url = git@github.com:DreamerKing/da.git
[submodule "deno"]
	path = deno
	url = git@github.com:wxz6289/deno.git
[submodule "fp"]
	path = fp
	url = git@github.com:DreamerKing/fp.git
[submodule "threejs"]
	path = threejs
	url = git@github.com:wxz6289/threejs.git
[submodule "native"]
	path = native
	url = git@github.com:wxz6289/native.git
[submodule "tanstack"]
	path = tanstack
	url = git@github.com:wxz6289/tanstack.git
[submodule "infinite-canvas-tutorial"]
	path = infinite-canvas-tutorial
	url = git@github.com:xiaoiver/infinite-canvas-tutorial.git
[submodule "tauri2"]
	path = tauri2
	url = git@github.com:wxz6289/tauri.git
